@use "../../../styles/mixins";

.card {
    margin: 0 auto;
    width: min(100%, 1100px);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;

    @include mixins.media-query(l) {
        gap: 0;
    }

    @include mixins.media-query(m) {
        width: 100%;
    }

    @include mixins.media-query(s) {
        position: relative;
        display: flex;
    }

    &:nth-of-type(odd) {
        justify-items: end;

        .description {
            grid-column: 4 / -1;
            align-items: flex-end;

            .logos > div {
                justify-content: flex-end;
            }
        }

        .image {
            grid-column: 1 / 5;
        }
    }

    &:nth-of-type(even) {
        justify-items: start;

        .description {
            grid-column: 1 / 4;
            align-items: flex-start;

            @include mixins.media-query(m) {
                grid-column: 1 / 5;
            }

            .logos > div {
                justify-content: flex-start;
            }
        }

        .image {
            grid-column: 3 / -1;
        }
    }
}

.description {
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    @include mixins.media-query(s) {
        width: 100%;
        padding: 40px;
        align-items: flex-start;
        border-radius: 6px;
    }

    p {
        z-index: 3;
        margin: 0.3em 0;
        padding: 2em;
        max-width: 50ch;
        min-width: 30ch;
        color: hsl(var(--secondary-1));
        background-color: hsl(var(--primary-2));
        border: 1px solid hsl(var(--primary-3));
        border-radius: 5px;
        @include mixins.box-shadow();
        transition: color 0.3s;

        @include mixins.media-query(s) {
            color: hsl(0deg, 0%, 95%);
            padding: 1em 0;
            min-width: unset;
            background-color: unset;
            border: unset;
            box-shadow: unset;
        }
    }
}

.title {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    text-shadow: 0 0 5px hsl(var(--primary-2));

    a {
        @include mixins.media-query(s) {
            color: hsl(0deg, 0%, 95%);
        }
    }

    h3 {
        margin: 0.2em 0;
        font-size: 2em;
    }

    span {
        color: hsl(var(--accent-1));
        font-family: var(--font-mono);
        font-size: 0.9em;
    }
}

.logos {
    flex-grow: 0;
    --columns: 6;
    --gap: 15px;
    z-index: 3;
    max-width: calc(var(--columns) * 36px + (var(--columns) - 1) * var(--gap));
    display: flex;
    flex-direction: column;
    align-items: inherit;
    gap: var(--gap);

    > div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--gap);

        @include mixins.media-query(s) {
            justify-content: flex-start;
        }
    }

    .links a {
        padding: 3px;
        color: hsl(var(--secondary-1));
        display: flex;

        &:hover {
            color: hsl(var(--accent-1));
        }
    }
}

.image {
    grid-row: 1 / -1;
    position: relative;
    width: 100%;
    max-width: 650px;
    aspect-ratio: 16 / 10;
    display: flex;
    border: 2px solid hsl(var(--primary-3));
    border-radius: 6px;
    @include mixins.box-shadow();

    @include mixins.media-query(s) {
        z-index: 0;
        position: absolute;
        inset: 0 0 0 0;
        aspect-ratio: unset;
        background-color: hsl(0deg, 0%, 14%, 0.6);
        pointer-events: none;
    }

    a {
        @include mixins.size();
        border-radius: 4px;

        @include mixins.media-query(s) {
            filter: brightness(0.3);
        }

        div {
            @include mixins.size();

            img {
                @include mixins.size();
                background-color: hsl(var(--primary-1));
                border-radius: inherit;

                @include mixins.media-query(s) {
                    object-fit: cover;
                }
            }
        }
    }
}
