@mixin size($width: 100%, $height: $width) {
    width: $width;
    height: $height;
}

@mixin box-shadow($right: 0px, $down: 10px, $blur: 30px, $spread: -15px, $color: hsl(0deg, 0%, 0%, 0.7)) {
    box-shadow: $right $down $blur $spread $color;
}

@mixin media-query($size) {
    @if $size == xs {
        @media (max-width: 500px) {
            @content;
        }
    } @else if $size == s {
        @media (max-width: 700px) {
            @content;
        }
    } @else if $size == m {
        @media (max-width: 900px) {
            @content;
        }
    } @else if $size == l {
        @media (max-width: 1100px) {
            @content;
        }
    }
}

@mixin pseudo($loc: after, $content: '', $abs: absolute, $pos: 0 auto auto 0) {
    &::#{$loc} {
        content: $content;
        @if $abs {
            position: $abs;
        }
        @if $pos {
            inset: $pos;
        }
        @content;
    }
}

@mixin hover-shard($width: 1px, $side: left, $top: 25%) {
    // https://stackoverflow.com/questions/42710882/css-border-1px-appear-as-0-667px-or-1px-depending-on-the-computer-display-res
    $width: if($width == 1px, 0.667px, $width);

    $shift: -$width;
    $inset: if($side == left, 65% auto auto $shift, 65% $shift auto auto);

    @include pseudo($loc: after, $pos: $inset) {
        opacity: 0;
        @include size($width, 70px);
        background: linear-gradient(
            transparent,
            hsl(var(--accent-1)),
            transparent
        );
        translate: 0 -50%;
        transition: opacity 0.6s ease, top 0.6s ease;
    }

    &:hover::after {
        opacity: 1;
        top: $top;
    }
}
