@use "@/mixins";

.header {
    --header-bg: 0deg, 0%, 8%;
    --header-blur: 3px;
    z-index: 100;
    position: fixed;
    top: var(--header-gap);
    left: 50%;
    translate: -50%;
    margin: 0 auto;
    padding: 0 20px;
    height: var(--header-height);
    background-color: hsl(var(--header-bg), 0.9);
    border-radius: 8px;
    color: hsl(var(--secondary-1));
    font-weight: 500;

    @include mixins.pseudo($loc: before, $pos: 0 0 0 0) {
        z-index: -1;
        backdrop-filter: blur(var(--header-blur));
        border-radius: inherit;
        @include mixins.box-shadow($down: 2px, $blur: 5px, $spread: 2px, $color: hsl(var(--header-bg), 0.6));
    }

    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 40px;

        .left, .right {
            display: flex;
            align-items: stretch;
            gap: 20px;
        }

        .right {
            @include mixins.media-query(xs) {
                display: none;
            }
        }
    }
}

.left {
    .logo {
        display: flex;
        align-items: stretch;

        a {
            display: flex;
            align-items: center;
        }
    }

    .links {
        display: flex;
        align-items: stretch;
        gap: 20px;
        text-transform: capitalize;

        a {
            display: flex;
            align-items: center;
        }
    }
}
