@use "@/mixins";

.card {
    position: relative;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.2em;
    background-color: hsl(var(--primary-1));
    border: 1px solid hsl(var(--primary-2));
    border-radius: 7px;
    @include mixins.box-shadow();

    @include mixins.hover-shard($top: calc(25px + 60px + 1em + 1.2em * 0.75));

    .circle {
        position: relative;
        @include mixins.size(60px);
        aspect-ratio: 1/1;
        color: hsl(var(--accent-1));

        .icon {
            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            color: hsl(var(--primary-1));
        }
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        margin: auto;
        text-align: center;
    }
}
