@use "@/mixins";

.home {
    box-sizing: border-box;
    min-height: calc(100vh - var(--header-height));
    min-height: calc(100dvh - var(--header-height));
    display: flex;
    flex-direction: column;

    @include mixins.media-query(s) {
        align-items: center;
    };

    canvas {
        z-index: -1;
        position: absolute;
        top: 0;
    }
}

.hello {
    width: max-content;
    padding: 20vh 0 0 15%;
    display: flex;
    flex-direction: column;

    @include mixins.media-query(s) {
        padding-left: 0;
        font-size: clamp(10px, 3vw, 15px);
    };

    span {
        font-family: var(--font-mono);
        color: hsl(var(--accent-1));
    }

    h1 {
        font-family: var(--font-title);
        font-size: 2.5em;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 140%;
    }

    h3 {
        font-size: 1.15em;
        font-weight: 400;
        letter-spacing: .17em;
        text-transform: uppercase;
    }
}
